{% schema %}
{
  "name": "Sinter Pad Finder",
  "tag": "section",
  "limit": 1,
  "class": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "collection_list",
      "id": "collections",
      "label": "Collections on which to show the Pad Finder"
    }
  ],
  "presets": [
    {
      "name": "t:sections.sinter-pad-finder.presets.name"
    }
  ]
}
{% endschema %}

{% stylesheet %}
#sinter-finder {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin-top: 3rem;
  background-color: unset;
  width: calc(2 * (100% / 3));
}
#sinter-finder form {
  height: 100%;
}
#sinter-finder .form__btn-arrow {
  width: 15px;
  height: 15px;
  margin-left: 1rem;
  transform: translateY(0.1rem);
}
#sinter-finder .caliper-input {
  padding: 0;
  flex: 2;
  margin-right: 2rem;
}
#sinter-finder .caliper-input:last-of-type {
  margin-right: 0;
}
#sinter-finder .caliper-input div {
  height: 100%;
  position: relative;
}
#sinter-finder #pad_link {
  flex: 1;
}
#sinter-finder .select {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  width: 100%;
  padding-right: 4rem;
  border: solid #ebe8e8 1px;
  height: 100%;
  /* padding: 1rem; */
}
#sinter-finder .sinter-drop-icon {
  background-color: #d70f29;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  pointer-events: none;
}
#sinter-finder .sinter-drop-icon svg {
  width: 18px;
  height: 18px;
  transform: rotate(180deg);
}
@media (max-width: 1400px) {
  #sinter-finder .caliper-input {
    margin-right: 1rem;
  }
}
@media (max-width: 800px) {
  #sinter-finder {
    flex-direction: column;
  }
  #sinter-finder .caliper-input {
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
{% endstylesheet %}

{% javascript %}
var padData = {
  avid: {
    name: "Avid",
    models: {
      "Juicy 3": 5,
      "Juicy 5": 5,
      "Juicy 7": 5,
      "Juicy Carbon": 5,
      "Juicy Ultimate": 5,
      "BB7 Mechanical": 5,
      "XO Trail": 8,
      "Elixir 7 Trail": 8,
      "Elixir 9 Trail": 8,
      "Code (2011-2014)": 13,
      "Code R": 13
    }
  },
  bfo: {
    name: "Brake Force One",
    models: {
      "BFO Brake": 10
    }
  },
  campagnolo: {
    name: "Campagnolo",
    models: {
      "Road Disc": 9
    }
  },
  formula: {
    name: "Formula",
    models: {
      "RO Racing": 7,
      "T1 Racing": 7,
      "R1 Racing": 7,
      R1: 7,
      C1: 7,
      CR3: 7,
      "Cura 4": 22,
      T1: 7,
      RO: 7,
      Mega: 7,
      "The One": 7,
      RX: 7,
      RR1: 7,
      CURA: 7,
      Oval: 7,
      ORO: 14
    }
  },
  fsa: {
    name: "FSA",
    models: {
      "K-Force DB-TX-9000": 4,
      "Afterburner DB-TX-9150": 4
    }
  },
  giant: {
    name: "Giant",
    models: {
      DA6: 14,
      DA8: 14
    }
  },
  hayes: {
    name: "Hayes",
    models: {
      Prime: 11,
      "Dominion A4": 23
    }
  },
  hope: {
    name: "Hope",
    models: {
      "Tech 3 E4": 16,
      "Stealth Race E4": 16,
      "Mono M4": 16,
      "Tech M4": 16,
      "Hope Tech V4 Evo": 20,
      "Tech 3 V4": 20,
      "Tech Stealth V4 Evo": 20
    }
  },
  magura: {
    name: "Magura",
    models: {
      "MT 2": 9,
      "MT 4": 9,
      "MT 6": 9,
      "MT 8": 9,
      "MT Sport": 9,
      "MT Trail (RW)": 9,
      "Marta 2009": 10,
      "Louise 2007-2008": 10,
      "Louise Bat": 10,
      "Louise Carbon": 10,
      "Julie HP": 10,
      "MT 5": 12,
      "MT 5e": 12,
      "MT 5eStop": 12,
      "MT 7": 12,
      "MT Trail (FW)": 12
    }
  },
  quad: {
    name: "Quad",
    models: {
      "Disc Brake": 2
    }
  },
  rever: {
    name: "Rever",
    models: {
      "MCX1 Post Mount": 4,
      "MCX1 Flat Mount": 18
    }
  },
  shimano: {
    name: "Shimano",
    models: {
      "XTR BR-M975": 1,
      "XTR BR-M966": 1,
      "XTR BR-M965": 1,
      "XTR BR-M9120": 3,
      "XTR BR-M9000": 4,
      "XTR BR-M9020": 4,
      "XTR BR-M987": 4,
      "XTR BR-M988": 4,
      "XTR BR-M985": 4,
      "XTR BR-M9100": 18,
      "XT BR-M8120": 3,
      "XT BR-M8020": 3,
      "XT BR-M776": 1,
      "XT BR-M775": 1,
      "XT BR-M765": 1,
      "XT BR-M8100": 4,
      "XT BR-M8000": 4,
      "XT BR-M785": 4,
      "SLX BR-M665": 1,
      "SLX BR-M7120": 3,
      "SLX BR-M7100": 4,
      "SLX BR-M7000": 4,
      "SLX BR-M675": 4,
      "SLX BR-M666": 4,
      "LX BR-M585": 1,
      "LX BR-T665": 1,
      "LX BR-T605": 1,
      "LX BR-T675": 2,
      "Deore BR-M596": 1,
      "Deore BR-M595": 1,
      "Deore BR-M535": 1,
      "Deore BR-M575": 2,
      "Deore BR-M525": 2,
      "Deore BR-M515": 2,
      "Deore BR-T615": 2,
      "Deore BR-M6000": 4,
      "Deore BR-M615": 4,
      "Alfine BR-S501": 1,
      "Alfine BR-S500": 1,
      "Alfine BR-S700": 4,
      "Saint BR-M800": 1,
      "Saint BR-M820": 3,
      "Saint BR-M810": 3,
      "Zee BR-M640": 3,
      "Hone BR-M601": 1,
      "Alivio BR-M4050": 2,
      "Acera BR-M3050": 2,
      "Altus BR-M375": 2,
      "Altus BR-M365": 2,
      "Altus BR-M315": 2,
      "BR-TX805": 2,
      "BR-M506": 2,
      "BR-M505": 2,
      "BR-C501": 2,
      "BR-MT500": 2,
      "BR-M495": 2,
      "BR-M486": 2,
      "BR-M485": 2,
      "BR-M475": 2,
      "BR-M465": 2,
      "BR-M447": 2,
      "BR-M446": 2,
      "BR-M445": 2,
      "BR-M416A": 2,
      "BR-M416": 2,
      "BR-M415": 2,
      "BR-MT400": 2,
      "BR-M395": 2,
      "BR-M355": 2,
      "BR-UR300": 2,
      "BR-MT200": 2,
      "BR-MT520": 3,
      "BR-RS785": 4,
      "BR-R785": 4,
      "BR-CX75": 4,
      "BR-CX77": 4,
      "BR-R515": 4,
      "BR-R517": 4,
      "BR-R315": 4,
      "BR-R317": 4,
      "BR-M545": 1,
      "BR-R505": 1,
      "Dura Ace BR-R9170": 18,
      "Ultegra BR-R8070": 18,
      "Ultegra BR-R8170": 18,
      "105 BR-R7070": 18,
      "Tiagra BR-4770": 18,
      "GRX BR-RX810,": 18,
      "GRX BR-RX400": 18,
      "Metrea BR-U5000": 18,
      "BR-RS805": 18,
      "BR-RS505": 18,
      "BR-RS405": 18,
      "BR-RS305": 18
    }
  },
  sram: {
    name: "SRAM",
    models: {
      XX: 6,
      X0: 6,
      "DB 5": 6,
      "DB 3": 6,
      "DB 1": 6,
      "Level Ultimate": 6,
      "Level TLM (2019+)": 6,
      "Level TL": 6,
      "Level T": 6,
      Level: 6,
      "G2 Ultimate": 8,
      "G2 RSC": 8,
      "Guide Ultimate": 8,
      "Guide RSC": 8,
      "Guide RS": 8,
      "Guide R": 8,
      "Guide T": 8,
      "Code RSC": 13,
      "Code R (2017)": 13,
      "Guide RE": 13,
      "Red eTap AXS (Gen. 1 'Mono-Bloc' Caliper)": 17,
      "Red 2-piece": 6,
      HRD: 17,
      "Level Ultimate (2016-2019)": 17,
      "Level TLM (2016-2019)": 17
    }
  },
  tektro: {
    name: "Tektro",
    models: {
      "Orion SL HD-M740": 2,
      "Orion HD-M730": 2,
      "Orion HD-M725": 2,
      "Gemini SL HD-M520": 2,
      "Gemini SL HD-M521": 2,
      "Gemini HD-M500": 2,
      "Gemini HD-M501": 2,
      "Gemini HD-M510": 2,
      "Draco2 HD-M352": 2,
      "HDC330 HD-M330": 2,
      "Auriga HD-M290": 2,
      "Auriga HD-M291": 2,
      "Auriga HD-T530": 2,
      "Auriga HD-T525": 2,
      "Auriga HD-E530": 2,
      "Auriga HD-E525": 2,
      "Auriga HD-E520": 2,
      "Auriga HD-E500": 2,
      "Aquila MD-M500": 2,
      "Aries MD-M300": 2,
      "MD-M280": 2,
      "Mira MD-C400": 2,
      "Volans HD-T710": 2,
      "Vela HD-T290": 2,
      "Dorado HD-E715": 2,
      "HD-R310": 18
    }
  },
  trickstuff: {
    name: "Trickstuff",
    models: {
      "CLEG 2": 6,
      "Direttissima / C42": 8,
      "Piccola / C21": 6
    }
  },
  trp: {
    name: "TRP",
    models: {
      "Dash Carbon": 1,
      Hylex: 2,
      "HY/RD": 2,
      "Spyre SLC": 2,
      Spyre: 2,
      Spyke: 2,
      "Dash Sport": 2
    }
  },
  zoom: {
    name: "Zoom",
    models: {
      DB280: 15,
      DB350: 15,
      DB450: 15,
      DB550: 15
    }
  }
};

var padLinks = Array();
padLinks[1] = "https://b2b.uniorusa.com/products/sinter-model-001"
padLinks[2] = "https://b2b.uniorusa.com/products/shimano-deore-alivio-acera";
padLinks[3] = "https://b2b.uniorusa.com/products/shimano-saint-zee";
padLinks[4] = "https://b2b.uniorusa.com/products/shimano-xtr-xt-slx";
padLinks[5] = "https://b2b.uniorusa.com/products/sinter-model-005-avid";
padLinks[6] = "https://b2b.uniorusa.com/products/sinter-model-006";
padLinks[8] = "https://b2b.uniorusa.com/products/sram-g2-guide-and-trail";
padLinks[9] = "https://b2b.uniorusa.com/products/sinter-model-009-magura-campagnolo";
padLinks[12] = "https://b2b.uniorusa.com/collections/sinter-brakes/products/sinter-model-012-magura"
padLinks[13] = "https://b2b.uniorusa.com/products/sinter-pads-sram-code";
padLinks[16] = "https://b2b.uniorusa.com/products/sinter-model-016";
padLinks[17] = "https://b2b.uniorusa.com/products/sinter-model-017";
padLinks[18] = "https://b2b.uniorusa.com/products/sinter-model-018";
padLinks[22] = "https://b2b.uniorusa.com/products/sinter-model-022-formula-cura-4";
padLinks[23] = "https://b2b.uniorusa.com/products/sinter-model-023-hayes-dominion-a4";

var mfrsel = '';
var modelsel = '';

window.addEventListener('load', () => {
  if (!(mfrsel = document.querySelector('#mfrSelect'))) return;
  if (!(modelsel = document.querySelector('#modelSelect'))) return;

  var caption = document.createTextNode('Select a Caliper Manufacturer')
  var opt = document.createElement('option')
  opt.appendChild(caption)
  mfrsel.appendChild(opt);
  Object.keys(padData).forEach((mfr) => {
    caption = document.createTextNode(padData[mfr]['name']);
    opt = document.createElement('option')
    opt.appendChild(caption);
    opt.value = mfr;
    mfrsel.appendChild(opt);
  });

  mfrsel.addEventListener('change', () => {
    modelsel.innerHTML = ""

    var caption = document.createTextNode('Select a Caliper Model')
    var opt = document.createElement('option')
    opt.appendChild(caption)
    modelsel.appendChild(opt);

    Object.keys(padData[mfrsel.value]["models"]).forEach((model) => {
      caption = document.createTextNode(model);
      opt = document.createElement('option')
      opt.appendChild(caption);
      opt.value = model;
      modelsel.appendChild(opt);
    });

    document.querySelector("#pad_shop_form").action = '#';
    document.querySelector("#pad_shop_link_text").innerHTML = 'Choose a Caliper';
    document.querySelector("#pad_shop_button").disabled = true;

  });

  modelsel.addEventListener('change', () => {
    var padNumber = padData[mfrsel.value]["models"][modelsel.value];

    if (padLinks[padNumber]) {
      document.querySelector("#pad_shop_form").action = padLinks[padNumber];
      document.querySelector("#pad_shop_link_text").innerHTML = "Shop Now";
      document.querySelector("#pad_shop_button").disabled = false;
    } else {
      document.querySelector("#pad_shop_form").action = "#";
      document.querySelector("#pad_shop_link_text").innerHTML = 'Not available yet!';
      document.querySelector("#pad_shop_button").disabled = true;
    }
  });
});
{% endjavascript %}

{%- assign collection_handles = section.settings.collections | map: 'handle' %}
{% if collection_handles contains collection.handle %}
  <div id="sinter-finder">
    <div id="caliper_mfr" class="caliper-input">
      <div class="select">
        <select id="mfrSelect" name="mfrSelect" class="select__select"></select>
        {% render 'icon-caret' %}
      </div>
    </div>

    <div id="caliper_model" class="caliper-input">
      <div class="select">
        <select id="modelSelect" name="modelSelect" class="select__select"></select>
        {% render 'icon-caret' %}
      </div>
    </div>

    <div id="pad_link" class="caliper-input">
      <form action="#" method="get" id="pad_shop_form">
        <button class="button button--secondary button--full-width" disabled="disabled" id="pad_shop_button">
          <span id="pad_shop_link_text" class="text">Select a Caliper</span>
          <svg class="form__btn-arrow viewBox="0 0 11.34 11.34" xmlns="http://www.w3.org/2000/svg"><g fill="#fff"><path d="m10.34 6.67h-9.34a1 1 0 0 1 0-2h9.34a1 1 0 0 1 0 2z"/><path d="m5.67 11.34a1 1 0 0 1 -.67-1.7l4-4-4-4a1 1 0 0 1 1.38-1.35l4.67 4.71a1 1 0 0 1 .29.7 1 1 0 0 1 -.29.71l-4.67 4.64a1 1 0 0 1 -.71.29z"/></g></svg>
        </button>
      </form>
    </div>
  </div>
{% endif %}