sinter-pad-finder {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  margin: 2rem auto 0 auto;
  gap: 2rem;
  width: calc(2 * (100% / 3));
}

sinter-pad-finder .caliper-input div {
  height: 100%;
  position: relative;
}

sinter-pad-finder .select,
sinter-pad-finder .form__btn {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  width: 100%;
  padding-right: 4rem;
  border: solid #ebe8e8 1px;
  height: 100%;
  padding: 1rem;
  background-color: #ffffff;
}

sinter-pad-finder .form__btn:disabled {
  background-color: #ffffff;
  color: #000000;
}

sinter-pad-finder .form__btn:disabled .form__btn-arrow {
  fill: #000000;
}

sinter-pad-finder .form__btn {
  background-color: #d70f29;
  color: #ffffff;
}

sinter-pad-finder .form__btn-arrow {
  width: 1rem;
  height: 1rem;
  margin-left: 1rem;
  transform: translateY(0.1rem);
  fill: #ffffff;
}

sinter-pad-finder .sinter-drop-icon {
  background-color: #d70f29;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  pointer-events: none;
}

sinter-pad-finder .sinter-drop-icon svg {
  width: 1rem;
  height: 1rem;
  transform: rotate(180deg);
}

sinter-pad-finder form {
  height: 100%;
}

@media (max-width: 800px) {
  sinter-pad-finder {
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  sinter-pad-finder .caliper-input {
    width: 100%;
  }
}
